@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
    background: radial-gradient(circle at top left, #312e81, #0f172a);
    /*background: linear-gradient(135deg, #1e1b4b, #4c1d95);*/
  color: white;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 8%;
  background: rgba(30, 27, 75, 0.8);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.logo{
    height: 80px;
width: 150px;
}

.logoName {
  font-weight: 60;
  font-size: 18px;
}

.logo strong {
  color: #38bdf8;
}
 /*
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  font-size: 14px;
  opacity: 0.9;
}

.nav-links li {
  cursor: pointer;
  transition: 0.3s;
}

.nav-links li:hover {
  color: #38bdf8;
}
*/
/* NAVBAR BASE */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: fixed;
  

}

/* LINKS DESKTOP */
.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
}

/* HAMBURGER oculto en desktop */
.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

/* ---------------- MOBILE ---------------- */

@media (max-width: 768px) {

  .nav-links {
    position: absolute;
    top: 100%;
    right: 0;
    background: #0f172a; /* mismo fondo oscuro */
    flex-direction: column;
    width: 100%;
    padding: 1.5rem 0;
    gap: 1.5rem;
    display: none; /* oculto por defecto */
    text-align: center;
  }

  .nav-links.active {
    display: flex; /* se muestra cuando open = true */
  }

  .hamburger {
    display: block; /* visible solo en mobile */
  }
}

.btn-primary {
  background: linear-gradient(90deg, #3b82f6, #8b5cf6);
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.btn-primary:hover {
  transform: scale(1.05);
}

.hero {
  text-align: center;
  padding: 200px 20px 100px 20px;
  animation: fadeUp 1s ease-out;
  position: relative;
  overflow: hidden;
    box-shadow: 0 0 15px 5px #0ea5e9;

}

.floating-icon {
  position: absolute;
  opacity: 0.;
  pointer-events: none;
}

/* Izquierda arriba */
.icon-left-top {
  left: 5%;
  top: 20%;
  width: 50px;
  z-index: 0;
}

/* Izquierda abajo */
.icon-left-bottom {
  left: 8%;
  bottom: 15%;
  width: 70px;
}

/* Derecha */
.icon-right {
  right: 6%;
  top: 50%;
  width: 60px;
}
 
.badge {
  background: rgba(255, 255, 255, 0.1);
  padding: 8px 15px;
  border-radius: 20px;
  font-size: 13px;
  display: inline-block;
  margin-bottom: 20px;
}

.hero h1 {
  font-size: 90px;
  font-weight: 700;
}

.hero h1 span {
  background: linear-gradient(90deg, #38bdf8, #a855f7);
  /*-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
}

.hero h2 span{
    font-size: 40px;
}

.hero h3 {
    font-size: 25px;
  margin-top: 30px;
  font-weight: 600;
  opacity: 0.9;
}

.hero p {
    font-size: 20px;
  margin-top: 15px;
  opacity: 0.7;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.hero-buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn-secondary {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  color: white;
  cursor: pointer;
}

.stats {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  gap: 80px;
}

.stat-card {
  background: rgba(255, 255, 255, 0.06);
  padding: 30px 40px;
  border-radius: 16px;
  backdrop-filter: blur(10px);
  transition: all 0.4s ease;
  cursor: pointer;
  text-align: center;
}

.stat-card h2 {
  color: #38bdf8;
  font-size: 36px;
}

.stat-card p {
  opacity: 0.7;
  margin-top: 5px;
}


.stats h2 {
  color: #38bdf8;
  font-size: 40px;
}

.stats p {
  opacity: 0.7;
}

.stat-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(56, 189, 248, 0.4);
}

/*
.about {
  padding: 100px 8%;
  text-align: center;
}

.about h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.about p {
  max-width: 700px;
  margin: 0 auto 60px auto;
  opacity: 0.8;
}

.about-grid {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.about-card {
  background: rgba(255, 255, 255, 0.08);
  padding: 30px;
  border-radius: 15px;
  width: 300px;
  transition: 0.3s;
}

.about-card h3{
    font-weight: 800;
    margin-bottom: 10px;
}

.about-card:hover {
  transform: translateY(-10px);
}

.about_img{
    height: 200px;
    width: 100%;
}*/

.about {
  padding: 120px 8%;
  text-align: center;
  background: #f8fafc;
  color: #0f172a;
}

.about-label {
  font-size: 14px;
  letter-spacing: 2px;
  color: #6366f1;
  font-weight: 600;
  margin-bottom: 10px;
}

.about-title {
  font-size: 48px;
  font-weight: 700;
}

.about-title span {
  background: linear-gradient(90deg, #3b82f6, #8b5cf6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-description {
  max-width: 700px;
  margin: 20px auto 60px auto;
  opacity: 0.8;
  font-size: 18px;
}

.about-main-cards {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-bottom: 80px;
  flex-wrap: wrap;
}

.about-card {
  width: 500px;
  padding: 50px;
  border-radius: 30px;
  color: white;
  text-align: left;
  transition: 0.4s;
}

.about-card h3 {
  margin: 20px 0;
  font-size: 24px;
}

.about-card p {
  opacity: 0.9;
  line-height: 1.6;
}

.about-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 50px rgba(0,0,0,0.2);
}

.mission {
  background: linear-gradient(135deg, #2563eb, #3b82f6);
}

.vision {
  background: linear-gradient(135deg, #7c3aed, #9333ea);
}

.icon-box {
  font-size: 28px;
  background: rgba(255,255,255,0.2);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.feature-card {
  background: white;
  border-radius: 25px;
  overflow: hidden;
  transition: 0.4s ease;
  display: flex;
  flex-direction: column;
}

.feature-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 50px rgba(0,0,0,0.15);
}

/* Imagen */


.feature-image img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  transition: 0.5s;
}

.feature-card:hover .feature-image img {
  transform: scale(1.08);
}

/* Contenido */
.feature-content {
  padding: 25px;
  text-align: left;
}

.feature-icon {
  height: 52px;
  margin-bpxottom: 10px;
}


.about-features {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.feature-card {
  background: white;
  padding: 30px;
  border-radius: 20px;
  transition: 0.3s;
  text-align: left;
}

.feature-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 40px rgba(0,0,0,0.1);
}

.feature-icon {
  font-size: 24px;
  margin-bottom: 15px;
}

.feature-content h4{
  font-weight: bold;
  color: #9333ea;
}

@media (max-width: 1000px) {
  .about-features {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .about-features {
    grid-template-columns: 1fr;
  }

  .about-card {
    width: 100%;
  }

  .about-title {
    font-size: 36px;
  }
}


@media (max-width: 900px) {
  .nav-links {
    display: none;
  }

  .stats {
    flex-direction: column;
    gap: 30px;
  }

  /*.about-grid {
    flex-direction: column;
    align-items: center;
  }*/

  .hero h1 {
    font-size: 45px;
  }
}

.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

@media (max-width: 900px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    position: fixed;
    top: 80px;
    right: -100%;
    flex-direction: column;
    background: #1e1b4b;
    width: 250px;
    height: 100vh;
    padding: 40px;
    transition: 0.4s;
  }

  .nav-links.active {
    right: 0;
  }
}
/*
.courses {
  padding: 120px 8%;
  text-align: center;
}

.courses-grid {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-top: 60px;
}

.courses h2{
    font-size: 30px;
}

.course-card {
  background: rgba(255,255,255,0.07);
  padding: 40px;
  border-radius: 20px;
  width: 320px;
  transition: 0.4s;
  backdrop-filter: blur(10px);
}

.course-card:hover {
  transform: translateY(-15px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}

.course-card h3{
    font-weight: bold;
    font-style: italic;
    margin-bottom: 15px;
}

.course-card p{
    font-family: Arial, Helvetica, sans-serif;
}*/

.courses {
  padding: 120px 8%;
  text-align: center;
  background: #f8fafc;
}

.courses-label {
  font-size: 14px;
  letter-spacing: 2px;
  color: #7c3aed;
  font-weight: 600;
}

.courses-title {
  font-size: 48px;
  margin-top: 10px;
  color:#312e81;
}

.courses-title span {
  background: linear-gradient(90deg, #3b82f6, #8b5cf6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.courses-description {
  max-width: 700px;
  margin: 20px auto 60px;
  opacity: 0.8;
  color: #7c3aed;
}
 .courses-grid {
  display: flex;
  gap: 80px;
  justify-content: center;
  flex-wrap: wrap;
}

.course-card {
  width: 360px;
  background: white;
  border-radius: 30px;
  overflow: hidden;
  transition: 0.4s;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}

.course-card:hover {
  transform: translateY(-12px);
  box-shadow: 0 20px 50px rgba(0,0,0,0.15);
}

.course-top {
  padding: 40px;
  color: white;
  text-align: left;
  position: relative;
}

.course-top h3 {
  margin-top: 60px;
  font-size: 22px;

}

.course-icon {
  font-size: 28px;
}

.age-badge {
  position: absolute;
  top: 30px;
  right: 30px;
  background: rgba(255,255,255,0.3);
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 12px;
}

.blue {
  background: linear-gradient(135deg, #0ea5e9, #3b82f6);
}

.purple {
  background: linear-gradient(135deg, #6366f1, #8b5cf6);
}

.pink {
  background: linear-gradient(135deg, #a855f7, #ec4899);
}

.course-body {
  padding: 30px;
  text-align: left;
  color: #3b82f6;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 0;
}

.tags span {
  background: #eef2ff;
  padding: 5px 12px;
  border-radius: 15px;
  font-size: 12px;
}

.course-info {
  display: flex;
  gap: 20px;
  font-size: 14px;
  opacity: 0.7;
  margin-bottom: 20px;
}

.btn-gradient {
  width: 100%;
  padding: 12px;
  border-radius: 15px;
  border: none;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.blue-btn {
  background: linear-gradient(90deg, #0ea5e9, #3b82f6);
}

.purple-btn {
  background: linear-gradient(90deg, #6366f1, #8b5cf6);
}

.pink-btn {
  background: linear-gradient(90deg, #a855f7, #ec4899);
}

.btn-gradient:hover {
  transform: scale(1.05);
}

@media (max-width: 1000px) {
  .courses-grid {
    flex-direction: column;
    align-items: center;
  }
}


.premium {
  border: 2px solid #38bdf8;
}

.gallery {
  padding: 120px 8%;
  text-align: center;
}

.gallery h2{
  font-size: 40px;
  background: linear-gradient(90deg, #3b82f6, #8b5cf6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 60px;
}

.gallery-item {
  height: 200px;
  border-radius: 15px;
  overflow: hidden; 
  transition: transform 0.4s ease;
  
  
}

.gallery-item img {
  width: 100%;        
  height: 100%;       
  object-fit: cover;  
  transition: transform 0.4s ease, box-shadow 0.4s ease;

}

.gallery-item:hover {
  transform: scale(1.1) translateY(-10px);
  box-shadow: 0 20px 40px rgba(56, 189, 248, 0.4);
}


.contact {
  padding: 120px 8%;
  text-align: center;
}

form {
  max-width: 500px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input, textarea {
  padding: 15px;
  border-radius: 10px;
  border: none;
}

button {
  padding: 15px;
  background: #38bdf8;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.success {
  margin-top: 20px;
  color: #38bdf8;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

section {
  animation: fadeUp 1s ease-out;
}



@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes floatSlow {
  0% { transform: translateY(0px) rotate(0deg); }
  50% { transform: translateY(-15px) rotate(3deg); }
  100% { transform: translateY(0px) rotate(0deg); }
}

@keyframes floatSlowReverse {
  0% { transform: translateY(0px) rotate(0deg); }
  50% { transform: translateY(12px) rotate(-3deg); }
  100% { transform: translateY(0px) rotate(0deg); }
}

.float-1 {
  animation: floatSlow 6s ease-in-out infinite;
}

.float-2 {
  animation: floatSlowReverse 7s ease-in-out infinite;
}

.float-3 {
  animation: floatSlow 8s ease-in-out infinite;
}

.margenc{
  padding-top:150px;
  padding-bottom: 150px;
}

.footer {
  background: #f8fafc;
  padding: 80px 8% 30px 8%;
  color:#312e81;
  border: none; 
  box-shadow: 0 0 15px 5px #0ea5e9;
 
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  flex-wrap: wrap;
}

.footer-section {
  max-width: 300px;
}

.footer-section h3,
.footer-section h4 {
  margin-bottom: 15px;
  color: #38bdf8;
}

.footer-section p {
  margin-bottom: 8px;
  opacity: 0.8;
}

.socials {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #38bdf8;
}

.socials a {
  text-decoration: none;
  opacity: 0.7;
  transition: 0.3s;
}

.socials a:hover {
  opacity: 1;
  
}

@media (max-width: 900px) {
  .footer-container {
    flex-direction: column;
    gap: 40px;
  }
}
