* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
    background: radial-gradient(circle at top left, #312e81, #0f172a);
    /*background: linear-gradient(135deg, #1e1b4b, #4c1d95);*/
  color: white;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 8%;
  background: rgba(30, 27, 75, 0.8);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.logo{
    height: 80px;
width: 150px;
}

.logoName {
  font-weight: 60;
  font-size: 18px;
}

.logo strong {
  color: #38bdf8;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  font-size: 14px;
  opacity: 0.9;
}

.nav-links li {
  cursor: pointer;
  transition: 0.3s;
}

.nav-links li:hover {
  color: #38bdf8;
}


.btn-primary {
  background: linear-gradient(90deg, #3b82f6, #8b5cf6);
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.btn-primary:hover {
  transform: scale(1.05);
}

.hero {
  text-align: center;
  padding: 200px 20px 100px 20px;
  animation: fadeUp 1s ease-out;
}


.badge {
  background: rgba(255, 255, 255, 0.1);
  padding: 8px 15px;
  border-radius: 20px;
  font-size: 13px;
  display: inline-block;
  margin-bottom: 20px;
}

.hero h1 {
  font-size: 90px;
  font-weight: 700;
}

.hero h1 span {
  background: linear-gradient(90deg, #38bdf8, #a855f7);
  /*-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
}

.hero h2 span{
    font-size: 40px;
}

.hero h3 {
    font-size: 25px;
  margin-top: 30px;
  font-weight: 600;
  opacity: 0.9;
}

.hero p {
    font-size: 20px;
  margin-top: 15px;
  opacity: 0.7;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.hero-buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn-secondary {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  color: white;
  cursor: pointer;
}

.stats {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  gap: 80px;
}

.stat-card {
  background: rgba(255, 255, 255, 0.06);
  padding: 30px 40px;
  border-radius: 16px;
  backdrop-filter: blur(10px);
  transition: all 0.4s ease;
  cursor: pointer;
}

.stat-card h2 {
  color: #38bdf8;
  font-size: 36px;
}

.stat-card p {
  opacity: 0.7;
  margin-top: 5px;
}


.stats h2 {
  color: #38bdf8;
  font-size: 40px;
}

.stats p {
  opacity: 0.7;
}

.stat-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(56, 189, 248, 0.4);
}


.about {
  padding: 100px 8%;
  text-align: center;
}

.about h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.about p {
  max-width: 700px;
  margin: 0 auto 60px auto;
  opacity: 0.8;
}

.about-grid {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.about-card {
  background: rgba(255, 255, 255, 0.08);
  padding: 30px;
  border-radius: 15px;
  width: 300px;
  transition: 0.3s;
}

.about-card h3{
    font-weight: 800;
    margin-bottom: 10px;
}

.about-card:hover {
  transform: translateY(-10px);
}

.about_img{
    height: 200px;
    width: 100%;
}

@media (max-width: 900px) {
  .nav-links {
    display: none;
  }

  .stats {
    flex-direction: column;
    gap: 30px;
  }

  .about-grid {
    flex-direction: column;
    align-items: center;
  }

  .hero h1 {
    font-size: 45px;
  }
}

.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

@media (max-width: 900px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    position: fixed;
    top: 80px;
    right: -100%;
    flex-direction: column;
    background: #1e1b4b;
    width: 250px;
    height: 100vh;
    padding: 40px;
    transition: 0.4s;
  }

  .nav-links.active {
    right: 0;
  }
}

.courses {
  padding: 120px 8%;
  text-align: center;
}

.courses-grid {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-top: 60px;
}

.course-card {
  background: rgba(255,255,255,0.07);
  padding: 40px;
  border-radius: 20px;
  width: 320px;
  transition: 0.4s;
  backdrop-filter: blur(10px);
}

.course-card:hover {
  transform: translateY(-15px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}

.premium {
  border: 2px solid #38bdf8;
}

.gallery {
  padding: 120px 8%;
  text-align: center;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 60px;
}

.gallery-item {
  height: 200px;
  background: linear-gradient(135deg, #38bdf8, #6366f1);
  border-radius: 15px;
  transition: 0.4s;
}

.gallery-item:hover {
  transform: scale(1.05);
}

.contact {
  padding: 120px 8%;
  text-align: center;
}

form {
  max-width: 500px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input, textarea {
  padding: 15px;
  border-radius: 10px;
  border: none;
}

button {
  padding: 15px;
  background: #38bdf8;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.success {
  margin-top: 20px;
  color: #38bdf8;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

section {
  animation: fadeUp 1s ease-out;
}



@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

